<div mat-dialog-content>

    <mat-form-field>
        <mat-label>Select a module</mat-label>
        <mat-select matNativeControl [(ngModel)]="selectedModule">
            <mat-option *ngFor="let module of modules" [value]="module">
                {{ module.moduleName }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div class="button-row">
    <button mat-raised-button>Cancel</button>
    <button mat-raised-button color="primary" (click)="onAssignClick()">Assign</button>
</div>