<div mat-dialog-content>

    <mat-form-field>
        <mat-label>Select a function</mat-label>
        <mat-select matNativeControl [(ngModel)]="selectedFonction">
            <mat-option *ngFor="let func of fonctions" [value]="func">
                {{ func.functionName }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div class="button-row">
    <button mat-raised-button>Cancel</button>
    <button mat-raised-button color="primary" (click)="onAssignClick()">Assign</button>
</div>