<div class="card">
  <div class="card-body">
    <h5>Module</h5>
    <p-dropdown
      appendTo="body"
      [options]="modules"
      optionLabel="moduleName"
      [(ngModel)]="selectedModule"
      placeholder="Select a Module"
      [filter]="true"
    ></p-dropdown>

    <h5>SubModule</h5>
    <p-dropdown
      appendTo="body"
      [options]="getSubModules()"
      optionLabel="subModuleName"
      [(ngModel)]="selectedSubModule"
      [disabled]="!selectedModule"
      placeholder="Select a SubModule"
      [filter]="true"
    ></p-dropdown>

    <h5>Functions</h5>
    <p-multiSelect
      appendTo="body"
      [options]="getFunctions()"
      optionLabel="functionName"
      [(ngModel)]="selectedFunctions"
      [disabled]="!selectedSubModule"
      placeholder="Select Functions"
      [filter]="true"
      multiple="true"
    ></p-multiSelect>
    <!-- <p-multiSelect appendTo="body" [options]="getFunctions()" [(ngModel)]="selectedCities" optionLabel="name"></p-multiSelect> -->
  </div>
  <div class="card-footer">
    <button mat-raised-button>Cancel</button>
    <button mat-raised-button color="primary" (click)="onAssignClick()">
      Assign
    </button>
  </div>
</div>
