.navbar-light .navbar-nav .nav-link {
  color: white;
}

.layout-navbar-fixed .wrapper .brand-link {
  overflow: hidden;
  position: fixed;
  top: 0;
  transition: width 0.3s ease-in-out;
}

.user-avatar {
  display: flex;
  align-items: center;
}

.avatar-letter {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-right: 10px;
}

.username {
  font-size: 16px;
  font-weight: bold;
}

.sidebar-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

.main-footer {
  clear: both;
}

.btn {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: none;
}

.btn:focus {
  box-shadow: none;
}

.btn .btn-icon {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.btn .btn-text {
  display: inline-block;
  margin-left: 50px;
}

/* .main-sidebar {
    width: auto;
} */

.arrow {
  margin-left: 7px;
  transition: transform 0.2s ease;
}

.arrow-right {
  transform: rotate(0deg);
}

.arrow-down {
  transform: rotate(90deg);
}

.function-icon {
  margin-right: 10px;
}

.function-name {
  color: #a1a5ae;
  white-space: pre-line;
}

.module-heading,
.sub-module-heading {
  height: 30px;
  padding: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #a1a5ae;
}

.module-name {
  margin-left: 10px;
}

.sub-module-name {
  padding-left: 20px;
}

.module-heading:hover,
.sub-module-heading:hover {
  background-color: #454d55;
}

.nav-link:hover {
  background-color: #454d55;
}

.function {
  margin: 10px;
  margin-left: 30px;
  padding-right: 10px;
}

li.sub-module {
  margin: 15px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.nav-sidebar .nav-item > .nav-link {
  position: relative;
  /* padding: 10px;
  text-wrap: wrap; */
  height: auto;
  display: flex;
  justify-content: flex-start;
  justify-content: flex-start;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: break-spaces;
}
.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

/* General icon color change to gray */
.fa {
  color: gray;
}

/* Specific icons color change to gray */
.fa-bars,
.fa-expand-arrows-alt,
.fa-th-large {
  color: gray;
}

/* For icons inside buttons or specific elements, if needed */
.btn .fa,
.nav-link .fa {
  color: gray;
}

/* Base styles for all nav-items */
.nav-sidebar .nav-item {
  position: relative;
}

/* Increased padding for first-level items */
/* .nav-sidebar > .nav-item {
  padding-left: 10px;
} */

/* Further increase padding for second-level items */
.nav-sidebar .nav-treeview > .nav-item {
  padding-left: 20px;
}

/* Even more padding for third-level items */
.nav-sidebar .nav-treeview .nav-treeview > .nav-item {
  padding-left: 30px;
}

/* Add to your existing sidebar component SCSS */
.nav-link .title,
.nav-link p {
  word-break: break-word; /* This will break the word at the end of the line */
  overflow-wrap: break-word; /* This will break the word at arbitrary points if needed */
}

/* If you want to ensure that breaks happen at spaces and not in the middle of words */
.nav-link .title,
.nav-link p {
  white-space: normal;
  overflow-wrap: break-word;
}

.nav-sidebar .nav-link > .right:nth-child(2),
.nav-sidebar .nav-link > p > .right:nth-child(2) {
  right: 1rem;
}
.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  height: 10%;
}

.custom {
  padding: 0;
}

/* Ensure these styles only apply when the sidebar is collapsed */
.sidebar-collapsed .nav-sidebar .nav-link p,
.sidebar-collapsed .nav-sidebar .nav-item > .nav-link {
  display: none; /* Hide text labels */
}

.sidebar-collapsed .nav-sidebar .nav-item {
  display: flex;
  align-items: center;
}

.sidebar-collapsed .nav-sidebar .nav-link {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Adjust icon and container alignment */
.sidebar-collapsed .nav-sidebar .nav-item {
  justify-content: center; /* Center icons in the collapsed state */
}

/* Optional: Adjust the width of the collapsed sidebar to fit content */
.sidebar-collapsed .main-sidebar {
  width: 80px; /* Adjust based on your icon size and desired padding */
}

/* Transition effect for the sidebar elements */
.sidebar-collapsed .nav-sidebar,
.sidebar-collapsed .nav-sidebar .nav-link,
.sidebar-collapsed .nav-sidebar .nav-item {
  transition: all 0.3s ease;
}
