<!-- <ng-container>
    <div *ngFor="let chart of chartOptions; index as i" class="chart-wrapper responsive-chart">
        <div class="chart-container" [id]="'chartc-' + i">
            <highcharts-chart *ngIf="chartData[i].chart_type != 'table'" [Highcharts]="highcharts" [options]="chart" class="chart"></highcharts-chart>
            <ng-container *ngIf="chartData[i].chart_type == 'table'">
                <app-paginated-table *ngIf="chartData[i].chart_type == 'table'" [columns]="chartData[i].listnamereptab" [data]="chartData[i].list_de_donnees" [idrep]="chartData[i].id_report" [title]="chartData[i].name_rep"></app-paginated-table>
            </ng-container>
        </div>
    </div>
</ng-container> -->
<div *ngFor="let chart of chartData1" class="chart-container">
    <ngx-charts-line-chart
  [results]="chartData1"
  [xAxis]="true"
  [yAxis]="true"
  [showXAxisLabel]="true"
  [showYAxisLabel]="true"
  [xAxisLabel]="chart.name"
  [yAxisLabel]="'Values'"
></ngx-charts-line-chart>
  </div>

  <div *ngFor="let chart of chartData1" class="chart-container">
    <ngx-charts-bubble-chart

      [results]="single"
      [xAxis]="true"
      [yAxis]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
    >
    </ngx-charts-bubble-chart>
  </div>

  <div *ngFor="let chart of chartData1" class="chart-container">
    <ngx-charts-area-chart
    [results]="chartData1"
    [xAxis]="true"
    [yAxis]="true"
  ></ngx-charts-area-chart>
  </div>

  <div *ngFor="let chart of chartData1" class="chart-container">
    <ngx-charts-pie-chart
      [results]="single2"
      [legend]="true"
      [labels]="true"
      [explodeSlices]="false"
      [doughnut]="false"
    >
    </ngx-charts-pie-chart>
  </div>


  
  
  
  