<div class="container">
    <h2>Function Reports</h2>
    <table class="table">
      <thead>
        <tr>
         
          <th>Report ID</th>
          <th>Report Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let repRapport of repRapports">
          <td>{{repRapport.id}}</td>
          
          <td>{{repRapport.name}}</td>
          <td>
            <button (click)="removeRepRapportFromFunction(functionId, repRapport.id)" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  