<div class="card" class="card" [ngClass]="{ 'dark-mode': darkModeEnabled }">
  <p-table
    #dt2
    [value]="jsonData"
    [rows]="5"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 10, 25, 50]"
    [paginator]="true"
    [globalFilterFields]="columns"
    selectionMode="single"
    (onRowSelect)="onRowSelect($event)"
  >
    <ng-template pTemplate="caption">
      <div class="head">
        <h5 class="title">{{ title }}</h5>
        <div class="flex">
          <button
            pButton
            label="Clear"
            class="p-button-outlined"
            icon="pi pi-filter-slash"
            (click)="clear(dt2)"
          ></button>
          <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              #searchInput
              (input)="applyFilterGlobal($event)"
              placeholder="Search keyword"
            />
          </span>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th
          *ngFor="let column of columns"
          [pSortableColumn]="column"
          style="width: 10%"
        >
          <div class="flex align-items-center">
            {{ column }} <p-sortIcon [field]="column"></p-sortIcon>
            <p-columnFilter
              type="text"
              [field]="column"
              display="menu"
              [showClearButton]="true"
              [showOperator]="true"
              [showAddButton]="true"
            ></p-columnFilter>
          </div>
        </th>
        <!-- <th style="width: 10%">Details</th> -->
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
      <tr [pSelectableRow]="rowData" [pSelectableRowDisabled]="!hasDetails">
        <td *ngFor="let column of columns" style="width: 10%">
          <ng-container *ngIf="column !== 'Status'; else statusColumn">
            {{ formatNumber(rowData[column]) }}
          </ng-container>
          <ng-template #statusColumn>
            <p-tag
              [value]="rowData[column]"
              [severity]="rowData[column] === 'UP' ? 'success' : 'danger'"
            ></p-tag>
          </ng-template>
        </td>
        <!-- <td>
          <button
            pButton
            icon="pi-external-link"
            (click)="openDialog(rowData)"
          ></button>
        </td> -->
      </tr></ng-template
    >
  </p-table>
  <ng-container *ngIf="showProgressBar">
    <p-progressBar
      mode="indeterminate"
      [style]="{ height: '6px' }"
    ></p-progressBar>
  </ng-container>
</div>
