.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 15px;
    padding-left: 15px;
}

.card {
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #fff;
}

.card-body {
    padding: 20px;
    text-align: left;
    display: grid;
}

.card-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.card-text {
    font-size: 32px;
    margin-top: 0;
}

.icon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    font-size: 40px;
    color: #fff;
}

.icon i {
    line-height: 1;
}

.subtitle {
    color: rgba(0, 0, 0, 0.5);
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cdrs-info {
    flex: 1;
    padding: 0 10px;
}

.separator {
    width: 1px;
    height: 100%;
    background-color: #ccc;
}