<div class="row" *ngIf="cdrInfo">
    <div class="col-lg-6">
        <div class="small-box bg-info">
            <div class="card-body">
                <h5 class="card-title">Total Treated MSC CDRS</h5>
                <div class="info">
                    <div class="cdrs-info">
                        <p class="subtitle">Date: {{ cdrInfo?.msc?.latestMsc }}</p>
                        <p class="card-text">{{ formatNumber(cdrInfo?.msc?.countMscToday || 0) }}</p>
                    </div>
                    <div class="separator"></div>
                    <div class="cdrs-info">
                        <p class="subtitle">Date: {{ cdrInfo?.msc?.yesterdayMscDate }}</p>
                        <p class="card-text">{{ formatNumber(cdrInfo?.msc?.countMscYesterday || 0) }}</p>
                    </div>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="small-box bg-success">
            <div class="card-body">
                <h5 class="card-title">Total Treated OCS CDRS</h5>
                <div class="info">
                    <div class="cdrs-info">
                        <p class="subtitle">Date: {{ cdrInfo?.ocs?.latestOcsDate }}</p>
                        <p class="card-text">{{ formatNumber(cdrInfo?.ocs?.countOcsToday || 0) }}</p>
                    </div>
                    <div class="separator"></div>
                    <div class="cdrs-info">
                        <p class="subtitle">Date: {{ cdrInfo?.ocs?.yestesrdayOcsDate }}</p>
                        <p class="card-text">{{ formatNumber(cdrInfo?.ocs?.countOcsYesterday || 0) }}</p>
                    </div>
                </div>
                <div class="icon">
                    <i class="ion ion ion-pie-graph"></i>
                </div>
            </div>
        </div>
    </div>
</div>