<div class="row" *ngIf="cdrInfo && user.role?.role == 'Admin'">
  <div class="col-lg-6">
    <div class="small-box bg-info">
      <div class="card-body">
        <h5 class="card-title">Total Treated Interco CDRS</h5>
        <div class="info">
          <div class="cdrs-info">
            <p class="subtitle">Date: {{ cdrInfo.interco.latestInterco }}</p>
            <p class="card-text">
              {{ formatNumber(cdrInfo.interco.countIntercoToday || 0) }}
            </p>
          </div>
          <div class="separator"></div>
          <div class="cdrs-info">
            <p class="subtitle">
              Date: {{ cdrInfo.interco.yesterdayIntercoDate }}
            </p>
            <p class="card-text">
              {{ formatNumber(cdrInfo.interco.countIntercoYesterday || 0) }}
            </p>
          </div>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="small-box bg-success">
      <div class="card-body">
        <h5 class="card-title">Total Treated ixTools CDRS</h5>
        <div class="info">
          <div class="cdrs-info">
            <p class="subtitle">Date: {{ cdrInfo.ixTools.latestIxTools }}</p>
            <p class="card-text">
              {{ formatNumber(cdrInfo.ixTools.countIxToolsToday || 0) }}
            </p>
          </div>
          <div class="separator"></div>
          <div class="cdrs-info">
            <p class="subtitle">
              Date: {{ cdrInfo.ixTools.yesterdayIxToolsDate }}
            </p>
            <p class="card-text">
              {{ formatNumber(cdrInfo.ixTools.countIxToolsYesterday || 0) }}
            </p>
          </div>
        </div>
        <div class="icon">
          <i class="ion ion ion-pie-graph"></i>
        </div>
      </div>
    </div>
  </div>
</div>