form {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    color: black;
}

.container {
    display: flex;
    max-width: 720px;
    justify-content: space-evenly;
    align-items: center;
}

table {
    border-collapse: collapse;
    margin-bottom: 20px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    font-family: Arial, sans-serif;
}

th {
    background-color: #f3f3f3;
    border: none;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 20px;
    text-align: left;
    text-transform: uppercase;
}

td {
    border: none;
    font-size: 14px;
    padding: 12px 20px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}

tr {
    cursor: pointer;
}

thead tr:hover {
    background-color: #e6e6e6;
}

tbody tr:hover {
    background-color: #f5f5f5;
}

.toggle-btn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #007ad9;
    text-decoration: none;
    padding: 0;
    margin: 0 8px;
}

.toggle-btn:hover,
.toggle-btn:focus {
    text-decoration: underline;
}

.toggle-icon {
    display: inline-block;
    margin-right: 8px;
    width: 12px;
    height: 12px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.2s ease-in-out;
    background-image: url('src/assets/img/arrow-down-3101.png');
}

.toggle-icon.expanded {
    transform: rotate(180deg);
}

.collapsed .toggle-icon {
    transform: rotate(-90deg);
}

.expanded .toggle-icon {
    transform: rotate(0);
}

.toggle-icon::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
}


/* New CSS for the left column */

.expand-collapse-column {
    width: 20px;
    text-align: center;
    padding: 8px;
}

.expand-collapse-column .toggle-btn {
    color: #007ad9;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}


/* Optional styling for the toggle button */

.toggle-btn {
    cursor: pointer;
    background-color: transparent;
    /* Change to a visible color */
    border: none;
    outline: none;
    font-size: 16px;
    color: #007ad9;
    text-decoration: none;
    padding: 0;
    margin: 0 8px;
}

.toggle-btn:hover {
    color: #00458b;
}