<div class="slider-container">
  <div class="slider">
    <input type="radio" name="testimonial" id="t-1" />
    <input type="radio" name="testimonial" id="t-2" checked />
    <input type="radio" name="testimonial" id="t-3" />
    <input type="radio" name="testimonial" id="t-4" />
    <input type="radio" name="testimonial" id="t-5" />
    <div class="testimonials">
      <label class="item" for="t-1">
        <img src="./assets/img/reporting.jpg" alt="Image 1" />
        <p>Reporting Dashboard</p>
        <div class="button_container">
          <button class="btn" (click)="navigateTo('/reporting', '')">
            <span>Visit</span>
          </button>
        </div>
      </label>
      <label class="item" for="t-2">
        <img src="./assets/img/fraud.jpg" alt="Image 1" />
        <p>Fraude Dashboard</p>
        <div class="button_container">
          <button class="btn" (click)="navigateTo('/fraud', '')">
            <span>Visit</span>
          </button>
        </div>
      </label>
      <label class="item" for="t-3">
        <img src="./assets/img/etl.jpg" alt="Image 1" />
        <p>Config ETL Dashboard</p>
        <div class="button_container">
          <button class="btn" (click)="navigateTo('/configetl', '')">
            <span>Visit</span>
          </button>
        </div>
      </label>
      <label class="item" for="t-4">
        <img src="./assets/img/riskmanagment.jpg" alt="Image 1" />
        <p>CaseManagment Dashboard</p>
        <div class="button_container">
          <button class="btn" (click)="navigateTo('/casetools', '')">
            <span>Visit</span>
          </button>
        </div>
      </label>
      <!-- <label class="item" for="t-5">
        <img src="path_to_image1.jpg" alt="Image 1" />
        <p>Description for item 1</p>
        <button>Visit</button>
      </label> -->
      <label class="item" for="t-5">
        <img src="./assets/img/casemanagment.jpg" alt="Image 1" />
        <p>CaseManagment Dashboard</p>
        <div class="button_container">
          <button class="btn" (click)="navigateTo('/RaConfigNew', 'login.jsf')">
            <span>Visit</span>
          </button>
        </div>
      </label>
    </div>
    <br />
    <div class="dots">
      <label for="t-1"></label>
      <label for="t-2"></label>
      <label for="t-3"></label>
      <label for="t-4"></label>
      <label for="t-5"></label>
    </div>
  </div>
</div>
