.table-container {
  max-width: 100%;
  margin-top: 70px;
}
.head {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.dark-mode {
  background-color: #333; /* Dark background */
  color: #fff; /* Light text */
}

.dark-mode .title {
  color: #ccc; /* Adjust title color */
}
.table-container {
  margin-top: 50px;
}
