<app-breadcrumb
  [title]="'Module Managment'"
  [items]="['Management']"
  [active_item]="'Module Managment'"
></app-breadcrumb>
<div class="table-container">
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
      <button
        pButton
        pRipple
        label="New Module"
        icon="pi pi-plus"
        class="p-button-primary mr-2"
        (click)="openModuleForm()"
      ></button>
      <button
        pButton
        pRipple
        label="New Sub Module"
        icon="pi pi-plus"
        class="p-button-primary mr-2"
        (click)="openSubModuleForm(null)"
      ></button>
      <button
        pButton
        pRipple
        label="New Function"
        icon="pi pi-plus"
        class="p-button-primary mr-2"
        (click)="openFonctionForm(null)"
      ></button>
      <button
        pButton
        pRipple
        label="Assign Rapport"
        icon="pi pi-plus"
        class="p-button-primary mr-2"
        (click)="openRapportForm()"
      ></button>
    </ng-template>
  </p-toolbar>
  <div class="card">
    <!-- Modules -->
    <p-table
      #dt
      [value]="modules"
      dataKey="id"
      [paginator]="true"
      [rows]="5"
      [rowsPerPageOptions]="[5, 10, 20]"
      styleClass="p-datatable table  table-sm"
      [tableStyle]="{ 'min-width': '50rem' }"
      [filterDelay]="0"
      [globalFilterFields]="['moduleName']"
    >
      <ng-template pTemplate="caption">
        <div class="head">
          <h5 class="title">Module Managment</h5>
          <div class="flex">
            <button
              pButton
              label="Clear"
              class="p-button-outlined"
              icon="pi pi-filter-slash"
              (click)="clear(dt)"
            ></button>
            <span class="p-input-icon-left ml-auto">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                #searchInput
                (input)="applyFilterGlobal($event)"
                placeholder="Search keyword"
              />
            </span>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 5rem"></th>
          <th pSortableColumn="id" style="width: 5rem">
            Id <p-sortIcon field="id"></p-sortIcon>
          </th>
          <th pSortableColumn="moduleName">
            Module Name <p-sortIcon field="moduleName"></p-sortIcon>
          </th>
          <th pSortableColumn="list_sub_modules">
            Sub-Modules<p-sortIcon field="list_sub_modules"></p-sortIcon>
          </th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-module let-expanded="expanded">
        <tr>
          <td>
            <button
              type="button"
              pButton
              pRipple
              [pRowToggler]="module"
              class="p-button-text p-button-rounded p-button-plain"
              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
            ></button>
          </td>
          <td>{{ module.id }}</td>
          <td>{{ module.moduleName }}</td>
          <td>{{ module.list_sub_modules.length }}</td>
          <td>
            <button
              mat-icon-button
              color="primary"
              class="mat-success"
              (click)="editElement(module)"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              color="warn"
              class="mat-warning"
              (click)="deleteElement(module.id)"
            >
              <mat-icon>delete</mat-icon>
            </button>
            <button
              mat-icon-button
              color="primary"
              class="mat-success"
              (click)="openSubModuleForm(module.id)"
            >
              <mat-icon>add</mat-icon>
            </button>
          </td>
        </tr>
      </ng-template>

      <!-- Sub Modules -->
      <ng-template pTemplate="rowexpansion" let-module>
        <tr>
          <td colspan="5">
            <div class="p-3">
              <p-table
                [value]="module.list_sub_modules"
                dataKey="id"
                [paginator]="true"
                [rows]="5"
                [rowsPerPageOptions]="[5, 10, 20]"
                styleClass="p-datatable table table-bordered table-sm"
                [globalFilterFields]="['subModuleName']"
              >
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 4rem"></th>
                    <th pSortableColumn="id">
                      Id <p-sortIcon field="id"></p-sortIcon>
                    </th>
                    <th pSortableColumn="subModuleName">
                      Sub Module Name<p-sortIcon
                        field="subModuleName"
                      ></p-sortIcon>
                    </th>
                    <th pSortableColumn="functions">
                      Functions<p-sortIcon field="functions"></p-sortIcon>
                    </th>
                    <th></th>
                  </tr>
                </ng-template>
                <ng-template
                  pTemplate="body"
                  let-submodule
                  let-expanded2="expanded2"
                >
                  <tr>
                    <td>
                      <button
                        type="button"
                        pButton
                        pRipple
                        [pRowToggler]="submodule"
                        class="p-button-text p-button-rounded p-button-plain"
                        [icon]="
                          expanded2
                            ? 'pi pi-chevron-down'
                            : 'pi pi-chevron-right'
                        "
                      ></button>
                    </td>
                    <td>{{ submodule.id }}</td>
                    <td>{{ submodule.subModuleName }}</td>
                    <td>{{ submodule.functions.length }}</td>
                    <td>
                      <button
                        mat-icon-button
                        color="primary"
                        class="mat-success"
                        (click)="openUpdateSubmoduleModal(submodule)"
                      >
                        <mat-icon>edit</mat-icon>
                      </button>
                      <button
                        mat-icon-button
                        color="warn"
                        class="mat-warn"
                        (click)="deleteSubmodule(submodule.id)"
                      >
                        <mat-icon>delete</mat-icon>
                      </button>
                      <button
                        mat-icon-button
                        color="primary"
                        class="mat-success"
                        (click)="openFonctionForm(submodule.id)"
                      >
                        <mat-icon>add</mat-icon>
                      </button>
                    </td>
                  </tr>
                </ng-template>

                <!-- Functions -->
                <ng-template pTemplate="rowexpansion" let-submodule>
                  <tr>
                    <td colspan="5">
                      <div class="p-3">
                        <p-table
                          [value]="submodule.functions"
                          dataKey="id"
                          [paginator]="true"
                          [rows]="5"
                          [rowsPerPageOptions]="[5, 10, 20]"
                          styleClass="p-datatable table table-bordered table-sm"
                          [globalFilterFields]="['functionName']"
                        >
                          <ng-template pTemplate="header">
                            <tr>
                              <th>ID</th>
                              <th>Function Name</th>
                              <th></th>
                            </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-func>
                            <tr>
                              <td>{{ func.id }}</td>
                              <td>{{ func.functionName }}</td>
                              <td>
                                <button
                                  mat-icon-button
                                  color="primary"
                                  class="mat-success"
                                  (click)="openUpdateFunctionModal(func)"
                                >
                                  <mat-icon>edit</mat-icon>
                                </button>
                                <button
                                  mat-icon-button
                                  color="warn"
                                  class="mat-warn"
                                  (click)="deleteFunction(func.id)"
                                >
                                  <mat-icon>delete</mat-icon>
                                </button>
                                <button
                                  mat-icon-button
                                  color="accent"
                                  class="mat-accent"
                                  (click)="onSelect(func)"
                                >
                                  <mat-icon>info</mat-icon>
                                </button>
                              </td>
                            </tr>
                          </ng-template>
                        </p-table>
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
