<div class="mapcontainer">
    <div class="map-filters">
        <div class="title">
            <h5>National Roaming Traffic Between {{formatDate2(startDate)}} and {{formatDate2(endDate)}}</h5>
        </div>
        <div class="filter">
            <p-calendar [(ngModel)]="startDate" inputId="startDate" placeholder="Start Date"></p-calendar>
            <p-calendar [(ngModel)]="endDate" inputId="endDate" placeholder="End Date"></p-calendar>

            <p-dropdown [options]="typeCalls" [(ngModel)]="typeCall" placeholder="Select a Type Call"></p-dropdown>

            <div class="order-section">
                <p-dropdown [options]="orderOptions" [(ngModel)]="order" placeholder="Select Order"></p-dropdown>
            </div>

            <input type="number" pInputText [(ngModel)]="limit" placeholder="Limit" />

            <p-button label="Apply Filters" (onClick)="getMapLocations(startDate,endDate)"></p-button>
        </div>
    </div>
    <div id="map"></div>
</div>