<!-- <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">User Managment</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">User Managment</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-container">
    <button mat-raised-button color="primary" (click)="openForm()">
      Create New User
    </button>
    <button
      mat-raised-button
      color="primary"
      style="margin-left: 100px"
      (click)="assignForm()"
    >
      Assign Raport
    </button>
  </div> -->
<app-breadcrumb [title]="'User Management'" [items]="['Managment']" [active_item]="'User Managment'"></app-breadcrumb>
<div class="table-container">
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
      <button pButton pRipple label="New User" icon="pi pi-plus" class="p-button-primary mr-2"
        (click)="openForm()"></button>
      <button pButton pRipple label="Assign Report" icon="pi pi-user-plus" class="p-button-help"
        (click)="assignForm()"></button>
    </ng-template>
  </p-toolbar>

  <div class="card">
    <p-table #dt [value]="users" [loading]="loading" dataKey="uId" [rows]="5" [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[5, 10, 25, 50]" [paginator]="true" [filterDelay]="0" [globalFilterFields]="[
        'username',
        'uMail',
        'nomUtilisateur',
        'dateCreation',
        'uDepart',
        'role.role',
        'user_group.gName'
      ]">
      <ng-template pTemplate="caption">
        <div class="head">
          <h5 class="title">List of Users</h5>
          <div class="flex">
            <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
              (click)="clear(dt)"></button>
            <span class="p-input-icon-left ml-auto">
              <i class="pi pi-search"></i>
              <input pInputText type="text" #searchInput (input)="applyFilterGlobal($event)"
                placeholder="Search keyword" />
            </span>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="username">
            <div class="flex justify-content-between align-items-center">
              Name
              <p-sortIcon field="username"></p-sortIcon>
              <p-columnFilter type="text" field="username" display="menu" class="ml-auto"></p-columnFilter>
            </div>
          </th>
          <th pSortableColumn="nomUtilisateur">
            <div class="flex justify-content-between align-items-center">
              Username
              <p-sortIcon field="nomUtilisateur"></p-sortIcon>
              <p-columnFilter type="text" field="nomUtilisateur" display="menu" class="ml-auto"></p-columnFilter>
            </div>
          </th>
          <th pSortableColumn="uMail">
            <div class="flex justify-content-between align-items-center">
              Email
              <p-sortIcon field="uMail"></p-sortIcon>
              <p-columnFilter type="text" field="uMail" display="menu" class="ml-auto"></p-columnFilter>
            </div>
          </th>
          <th pSortableColumn="uDepart">
            <div class="flex justify-content-between align-items-center">
              Department
              <p-sortIcon field="uDepart"></p-sortIcon>
              <p-columnFilter type="text" field="uDepart" display="menu" class="ml-auto"></p-columnFilter>
            </div>
          </th>
          <th pSortableColumn="role.role">
            <div class="flex justify-content-between align-items-center">
              Role
              <p-sortIcon field="role.role"></p-sortIcon>
              <p-columnFilter type="text" field="role.role" display="menu" class="ml-auto"></p-columnFilter>
            </div>
          </th>
          <th pSortableColumn="user_group.gName">
            <div class="flex justify-content-between align-items-center">
              Group
              <p-sortIcon field="user_group.gName"></p-sortIcon>
              <p-columnFilter type="text" field="user_group.gName" display="menu" class="ml-auto"></p-columnFilter>
            </div>
          </th>
          <th pSortableColumn="dateCreation">
            <div class="flex justify-content-between align-items-center">
              Date Creation
              <p-sortIcon field="dateCreation"></p-sortIcon>
              <p-columnFilter type="text" field="dateCreation" display="menu" class="ml-auto"></p-columnFilter>
            </div>
          </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr class="p-selectable-row">
          <td>
            <span class="p-column-title">Name</span>
            {{ user.username }}
          </td>
          <td>
            <span class="p-column-title">Username</span>
            <span class="ml-1 vertical-align-middle">{{
              user.nomUtilisateur
              }}</span>
          </td>
          <td>
            <span class="p-column-title">Email</span>
            <span class="ml-1 vertical-align-middle">{{ user.uMail }}</span>
          </td>
          <td>
            <span class="p-column-title">Department</span>
            <span class="ml-1 vertical-align-middle">{{ user.uDepart }}</span>
          </td>
          <td>
            <span class="p-column-title">Role</span>
            <span class="ml-1 vertical-align-middle">{{ user.role.role }}</span>
          </td>
          <td>
            <span class="p-column-title">Group</span>
            <span class="ml-1 vertical-align-middle">{{
              user.user_group?.gName
              }}</span>
          </td>
          <td>
            <span class="p-column-title">Date Creation</span>
            <span class="ml-1 vertical-align-middle">{{
              user.dateCreation | date : "MM/dd/yyyy"
              }}</span>
          </td>
          <td style="text-align: center">
            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
              (click)="editUser(user)"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
              (click)="deleteUser(user.uId)"></button>

            <button pButton type="button" class="p-button-secondary" icon="pi pi-cog"
              (click)="userRapports(user)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>