.container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.chart-wrapper {
    flex: 1;
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chart {
    width: 100%;
    display: block;
    height: 100%;
}

.button-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.mat-form-field {
    margin-left: 20px;
    width: 200px;
}

.mat-form-field .mat-select-trigger {
    color: #fff;
    background-color: #2196f3;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.mat-option {
    color: #000;
}

.mat-option:hover {
    background-color: #f2f2f2;
}

.mat-option.mat-selected:not(:hover) {
    background-color: #2196f3;
    color: #fff;
}

button[mat-raised-button] {
    background-color: #2196f3;
    color: #fff;
    margin-right: 20px;
}

button[mat-raised-button]:hover {
    background-color: #1769aa;
}

.table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    color: black;
}

.table-header {
    background-color: #f2f2f2;
    font-weight: bold;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.table-row:nth-child(even) {
    background-color: #f2f2f2;
}

.table-cell {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

table tbody tr {
    cursor: pointer;
}

.selected-row {
    background-color: rgb(149, 149, 150);
}

.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 64px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #73C0FC;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 20px;
    left: 2px;
    bottom: 2px;
    z-index: 2;
    background-color: #e8e8e8;
    transition: .4s;
}

.sun svg {
    position: absolute;
    top: 6px;
    left: 36px;
    z-index: 1;
    width: 24px;
    height: 24px;
}

.moon svg {
    fill: #73C0FC;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 24px;
    height: 24px;
}

.sun svg {
    animation: rotate 15s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.moon svg {
    animation: tilt 5s linear infinite;
}

@keyframes tilt {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-10deg);
    }
    75% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.input:checked+.slider {
    background-color: #183153;
}

.input:focus+.slider {
    box-shadow: 0 0 1px #183153;
}

.input:checked+.slider:before {
    transform: translateX(30px);
}

.top-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}