<div class="login-container">
  <div class="login-card">
    <div class="login-card-body">
      <h2 class="text-center mb-4">Reset Password</h2>
      <form (ngSubmit)="submitForm()">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="currentPassword"
            [(ngModel)]="currentPassword"
            name="currentPassword"
            placeholder="Enter Password"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="newPassword"
            [(ngModel)]="newPassword"
            name="newPassword"
            placeholder="Retype Password"
          />
        </div>
        <div class="error-message red-text" *ngIf="successMessage">
          {{ successMessage }}
        </div>
        <div class="error-message red-text" *ngIf="errorMessage">
          {{ errorMessage }}
        </div>
        <button class="btn btn-primary btn-block" type="submit">
          Reset Password
        </button>
      </form>
    </div>
  </div>
</div>
